.content{margin-top:3%;height:89%;width:90%}
.boxtext{width:90%}
.distribuidor{margin-right:80%}
.borderdistribuidor{margin-top:-50;width:75%;margin-left:20%}
.color{border-width:2px;border-color:black black black black;border-radius:15}
.message{margin-left:6;margin-top: 6;margin: 6}
.client{margin-left:80%}
.borderclient{margin-top:-60;width:75%;margin-right:18%}
.colorclient{border-width:2px;border-color:red;border-radius:7}
.messageclient{margin-left:6;margin-top: 6;margin: 6}