.action-bar{background-color:#ffb048}
.loco1{background-color:#ffb048;height:30px}
.perfil{background-color:#ffb048; margin-top:20em}
.name{color:#ff8818;margin-top:5%;;font-weight:bold}
.fechana{color:black;font-size:15px;font-weight:bold;}
.logros{color:black;font-size:15px;font-weight:bold; margin-top: 20em}
.home{border-width:10px;border-color: #d8d8d8 #d8d8d8 #ffb048 #d8d8d8; background-color:#d8d8d8}

