@import '../../../app-variables';
.la{background-color:dimgray}
.cardStyle{border-width:10px;border-color: #d8d8d8 #d8d8d8 #ffb048 #d8d8d8;margin: 8;border-block-start-style: inherit;border-bottom-color: black;border-width: 1;;text-shadow: 2px 2px;margin-top:5%;font-size:13px;font-family:Courier;width:90%;background-color:white;border-style:dashed;padding: 10;}
.loco1{font-size:10px;font-family:Courier;border:2px;border-color:blue;border-style:solid;width:350px;height:600px;background-color:#b4a6a6}
.espacio{font-size:20px;font-family:Courier;border:2px;border-color:blue;border-style:solid;width:600px;height:100px;background-color:#fcf8f8}
.action-bar{background-color:#fa9f17}
.s{margin-top:5%;margin-left:10%}
.fecha{margin-top:10%;font-size:13px;font-family:Courier;}
.btnm{background-color:#e6ac2e;margin-top:5%;color:white}
.avatar{width: 50; height: 60;}
.conteinerimg{margin-left: 4%;margin-top: 3%;}
.placesainfo{width: 60%;margin-left:5%;}
.myplaces{font-size:15%;font-family:'Franklin Gothic Medium'; color: black;}
.description{margin-top: 2em};
