<StackLayout *ngFor="let orden of ordenes" >
            <CardView class="cardStyle" margin="10" elevation="10" radius="3" >
                    <GridLayout  rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                    <StackLayout col="1" row="1" class="placesainfo">
                            <Label class="myplaces" row="0" col="0" [text]="orden.customer"></Label>
                        <Label text="Detalles de la orden" class="title"></Label>
                        <StackLayout *ngFor= "let product of orden.products"> 
                                <label [text]="product.quantity +' '+ product.name"></label>
                                <label [text]="product.purchase_id"></label>
                        </StackLayout>
                        <GridLayout columns="auto, *" class="location">
                            <Label col="0" text="&#xf041;" class="fa"></Label>
                            <Label col="1" [text]="orden.building +', '+ orden.office" class="p-r-10"></Label>
                        </GridLayout>
                    </StackLayout>
                    <GridLayout  rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto" col="2" row="1">
                            <Button col="1" text="&#xf206;"class="fa fa-trash-o" style="font-size:24px;"(tap)="deliveries(orden.id)" height="60" width="55"></Button>
                            <Button  *ngIf="orden.payment_type =='Cash'" col="2" text="&#xf00d;"class="fa fa-trash-o" style="font-size:24px;"(tap)="canceled_orders(orden.id)" height="60" width="55"></Button>  
                    </GridLayout>
                    </GridLayout>
            </CardView>
        </StackLayout>
        <button text="actualizar" (tap)="update()" [visibility]="btn ? 'visible' : 'collapsed'"></button>
        <StackLayout  class="zona"[visibility]="empty ? 'visible' : 'collapsed'" >
            <img  src="~/assets/crying-emoticon-rounded-square-face.png" height="200px" class="imgzona" >
        <label  horizontalAlignment="center" class="without_purchases" text="No tienes ordenes"></label>
    </StackLayout>
                    