<StackLayout class="zona">
    <img  src="~/assets/crying-emoticon-rounded-square-face.png" height="200px" class="imgzona" >
    <label class="zonatext" text="No hay burritos cerca de ti"></label>
    <Label class="zonatext1" [text]="'Lo sentimos, pero no hay un distribuidor cerca de tu zona. Pero nos puedes encontrar en:
    • Universidad Autónoma de 
      Aguascalientes
    • Av Colosio, Aguascalientes
    • Av. Idependencia, Aguascalientes.'" textWrap="true"></Label>   
    <button text="Ver más" class="btn-info"></button> 
</StackLayout>